/*
 * fonts
 */
$cabana: 'cabanaregular', verdana, arial;
$roboto-mono: 'Roboto Mono', monospace;
$sylfaen: 'sylfaen';
$helvetica-neue: Helvetica Neue, Helvetica, Arial, sans-serif;
 
/*
 * Colors
 */
$color-white: #fff;
$color-black: #000;

$color-default-green: #1EA48B;
$color-default-font: #777777;

$color-title-green: #339999;

$color-default-blue: #5281AA;
$color-soft-blue: #5281aa;
$color-bright-blue: #0290C6;
$color-darker-bright-blue: #0076A3;
$color-orange: #f26522;

$color-grey: #585858;
$color-pink: #dd7576;
