.grouped-boxes {
    // height: 550px;
    padding: 0 100px;
    position: relative;
    text-align: center;
    
    .box {
        padding-top: 36px;

        &.higher {
            padding-top: 0;
        }
    }
}