.home-slider {
    position: relative;
    width: 100%;
    max-width: 1900px;
    overflow: hidden;
    margin: 0 auto;

    @include breakpoint(sm-bear) {
        // display: none;
    }

    .slick-slide{
    	position: relative;
	    // width: 1328px;
	    // margin: 0 auto;
	    // overflow: hidden;
    }

    img{
    	width: 100%;
    }
}