.map-finder {
    position: relative;
    height: 800px;

    .black-and-white-box {
        position: relative;
        z-index: 2;
        
        .black-and-white-box-title h1 {
            padding-top: 30px;
            height: 204px;
            font-size: 42px;
            line-height: 1.1;
        }
    }

    .giant-map {
        height: 800px;
        width: 100%;
        top: 0;
        position: absolute;
    }
}