.portrait-box {
    float: left;
    @include rowMachine(4, 5%);
    margin-bottom: 30px;
    border: 2px solid $color-black;
    text-align: center;

    .portrait-box__image {
        padding: 10px 30px;
    }

    .portrait-box__title {
        color: $color-white;
        background: $color-black;

        h2 {
            margin-bottom: 0;
            padding: 20px 0;
            text-transform: none;
            font-size: 16px;
        }
    }

    .portrait-box__subtitle {
        background: $color-grey;
        text-align: left;

        h3 {
            margin: 0;
            padding: 20px 10px;
            color: $color-white;
            font-family: $helvetica-neue;
            font-size: 12px;
            line-height: 1.5;
        }
    }
}