.top-header {
    padding: 10px 0;
    background: $color-default-blue;

    a {
        font-size: 23px;
        line-height: 1;
        color: $color-grey;

        @include breakpoint(md-bear) {
            font-size: 20px;
        }
    }

    .contact-info {
        float: left;
        margin-top: 8px;
        margin-right: 50px;
        position: relative;

        @include breakpoint(sm-bear) {
            float: none;
            margin-top: 10px;
            margin-right: 0;
            text-align: center;
        }
    }

    .social {
        float: right;

        @include breakpoint(sm-bear) {
            float: none;
            margin-top: 10px;
            margin-right: 0;
            text-align: center;
        }
    }
}