#conheca {
	background: url('../images/home/fundo-quadro.png') no-repeat;
	padding-bottom: 15%;

	.container {
		
		.row {
			text-align: center;
			
			.bg-white{
				text-align: center;
				margin-top: -80px;
				min-height: 100px;
				position: relative;
				background-color: #fff;
				padding-bottom: 10%;

				&:before{
				    content: '';
				    width: 20%;
				    height: 10%;
				    box-shadow: 100px 0px 100px 0px #fff;
				    border-radius: 50%;
				    left: 40%;
				    position: absolute;
				    top: 90%;
				}

				@include breakpoint(md-bear) {
				    margin-top: 0;
				}

				.text-center{

					padding-top: 45px;
					color: #6b6969;
					margin-bottom: 45px;

					.button-saiba-mais{
					    height: 55px;
					    padding-top: 20px;
					}

					h2{
						font-family: $helvetica-neue;
						color: $color-title-green;
						text-transform: none;
						font-size: 33px;
						margin-top: 0px;
					}
				}

				.flor-quadro{
					position: absolute;
					width: 27%;
					top: 58%;

					@include breakpoint(sm-bear) {
						display: none;
					}

					&.dir{
						right: -6%;
					}

					&.esq{
						left: -6%;
					}
				}
			}			
		}
	}
}

#imprensa{
	.container{
		.row{

			text-align: center;

			.wrapper{
				text-align: center;

				.titulo-principal{
					width: 26%;
					margin-left: 29.333%;
				}

				.flavia-imprensa{
					img{
						width: 131px;
						float: left;
						margin-top: -13px;
					}
				}
			}

			.itens-imprensa{

				margin: 4em 0;
				
				li{
					
					list-style-type: none;
					display: inline-block;
					margin-left: 5%;
					text-align: center;
					vertical-align: top;
					width: 12%;

					&:first-child{
						margin-left: 0px;
					}

					@include breakpoint(sm-bear) {
						width: 30%;
					    margin-left: 2%;
					}

					@include breakpoint(xsm-bear) {
					    width: 100%;
					    margin-left: 0;
					}
					
					.icone-imprensa{
						
						text-align: center;
						background-color: $color-default-green;
						border-radius: 25px 0px;
						margin: 0 auto;
						padding: 19% 0;

						@include breakpoint(xsm-bear) {
						    padding: 30px 0;
						}
						
						i{
							color: #fff;
							font-size: 65px;
							left: 3px;
							position: relative;

							@include breakpoint(md-bear) {
							    font-size: 45px;
							}

							@include breakpoint(xsm-bear) {
							    font-size: 70px;
							}
						}
					}

					p{
						font-family: $helvetica-neue;
						color: $color-default-green;
						font-size: 18px;
						margin: 0.5em 0;
					}

				}
			}

			h2{
				font-family: $helvetica-neue;
				color: $color-title-green;
				text-transform: none;
				font-size: 32px;
				margin-top: 0px;
			}
		}
	}
}

#doutora-destaque{
	
	.conteudo{
		overflow: hidden;
		color: #fff;
		padding: 40px 20px 20px 20px;
		min-height: 262px;
		overflow: hidden;

		&.doutora{
			background: url('../images/home/doutora-fundo.png');

			.photo{
				float: left;

				@include breakpoint(xsm-bear) {
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
				}

				img{
					width: 189px;

					@include breakpoint(lg-bear) {
					    width: 129px;
					}

					@include breakpoint(xsm-bear) {
					    width: auto;
					}
				}
			}
		}

		&.destaque{
			background: url('../images/home/destaque-fundo.png');
			padding: 40px 24px 20px 40px;

			.text{
				float: left;
				width: 65%;

				.button{
					float: left;
					margin-left: 0px;
					margin-top: 50px;
				}
			}
		}

		.text{
			width: calc(100% - 189px);
			float: right;
			padding-left: 20px;			

			@include breakpoint(lg-bear) {
			    width: calc(100% - 135px);
			}

			@include breakpoint(xsm-bear) {
			    width: 100%;
			}

			p{
				margin: 0px;
			}

			h3{
				font-family: $helvetica-neue;
				font-size: 31px;
				margin: 0px 0px 25px 0px;
			}

			.button{
				float: right;
				margin-right: 30px;
				margin-top: 30px;
			}
		}
	}
}

#noticias{
	.container{
		.row{

			&.button-more{
				text-align: center;
				margin-top: 50px;
			}

			.titulo{

				text-align: center;
				margin-top: 5%;
				margin-bottom: 30px;

				h2{
					font-family: $helvetica-neue;
					color: $color-title-green;
					text-transform: none;
					font-size: 32px;
					margin-top: 0px;
				}				
			}

			.noticia{

				float: left;
				margin-bottom: 30px;

				a{
					color: $color-default-font;
				}

				&.invertida{
					float: left;
					.texto, img{
						float: right;
					}
				}

				&.em-pe{
					
					float: right;
					
					.texto, img{
						float: none !important;
						width: 100% !important;
					}

					img{
						height: 244px;
					}

					.texto{
						p{
							height: 40px;
						}
					}
				}

				img{
					width: 47%;
					float: left;
					min-height: 167px;

					@include breakpoint(xsm-bear) {
					    width: 100%;
					    margin-bottom: 10px;
					}
				}

				.bloco{

					border: 1px solid #E1E1E1;
					display: table;
					font-family: $helvetica-neue;

					h4{
						margin: 0 0 0.6em 0 !important;
						font-family: $helvetica-neue;
						font-size: 20px;
						min-height: 60px;
					}

					p{
						font-size: 13px;
						margin: 0 0 10px 0;
					}

					.texto{
						float: right;
						width: 53%;
						padding: 17px 20px 11px 20px;

						@include breakpoint(xsm-bear) {
						    width: 100%;
						}
					}
				}
			}
		}
	}
}

#fale-mapa{

	margin-top: 60px;
	
	.conteudo{
		color: #fff;
		padding: 40px 20px 20px 20px;
		
		&.fale{
			background: url('../images/home/fale-conosco-fundo.png');
			padding: 140px 20px 105px 40px;
			min-height: 200px;

			@include breakpoint(md-bear) {
			    padding-top: 40px;
			}

			.msg{
                display: none;
                color: #fff;
                font-size: 12px;
                padding-top: 10px;
                font-weight: 600;
                text-align: left;
                height: 20px;
            }
		}

		&.mapa{
			padding: 0px;
			min-height: 340px;

			.infobox{
				h4{
					color: $color-default-green;
					font-family: $helvetica-neue;
					margin: 10px 0;
				}

				p, span{
					color: $color-default-font;
				}

				p{
					line-height: 23px;
				}
			}
		}

		.text{
			width: 79%;
			float: right;

			@include breakpoint(sm-bear) {
			    width: 100%;
			}
			
			p{
				margin: 0px;
			}

			h3{
				font-family: $helvetica-neue;
				font-size: 32px;
				margin: 0px 0px 25px 0px;
			}

			form{
				
				input[type=text]{
					width: 70%;
					height: 30px;
					background-color: transparent;
					border-bottom: 3px solid #fff;
					border-top: none;
					border-right: none;
					border-left: none;
					color: #fff;
					font-family: $helvetica-neue;
					font-size: 18px;
					padding-bottom: 10px;

					@include breakpoint(sm-bear) {
					    width: calc(100% - 130px);
					}

					&::-webkit-input-placeholder {
                       color: #fff;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                       color: #fff;  
                    }

                    &::-moz-placeholder {  /* Firefox 19+ */
                       color: #fff;  
                    }

                    &:-ms-input-placeholder {  
                       color: #fff;  
                    }
				}

				.button{
					float: right;
					margin-right: 30px;
				}
			}
		}
	}
}