#noticias{
	.container {
		border-top: 1px solid #e5e5e5;

		.row {

			.lista-noticias {
				display: inline-block;
				margin-top: 30px;

				.quadro {
					float: left;
					width: 315px;
					height: 201px;
					padding: 20px;
					background-color: #2e3289;

					@include breakpoint(lg-bear) {
					    width: 215px;
					}

					@include breakpoint(md-bear) {
					    width: 100%;
					}

					.topo {
						display: table;

						p {
							float: left;
							color: #5588c1;
							font-size: 30px;
							width: 200px;
							margin: 0px;
							font-weight: 700;

							span{
								font-size: 45px;
								color: #fff;
							}
						}

						i{
							float: right;
							color: #fff;
							font-size: 74px;
							margin-top: 13px;

							@include breakpoint(lg-bear) {
							    display: none;
							}
						}
					}
					.fundo{
						width: 100%;
						display: table;
					    margin-top: 26px;
						p{
						    color: #fff;
						    font-style: italic;
						    font-size: 12px;

						    i{
						    	margin-right: 10px;
							    font-size: 15px;
						    }
						}
					}
				}
				.noticia{
					width: 409px;
					height: 201px;
					border: 1px solid #e5e5e5;
					float: left;


					@include breakpoint(lg-bear) {
					    width: 362px;
					}

					@include breakpoint(md-bear) {
					    width: 100%;
					}

					.overlay {
					    position:relative;
					    width: 137px;
					    height: 100%;
					    float: left;

					    img{
					    	height: 100%;
					    	max-width: 100% !important;
					    }

						&:after {
						    content:'\A';
						    position:absolute;
						    width:100%; height:100%;
						    top:0; left:0;
						    background:rgba(113,201,239,0.6);
						    opacity:0;
						    transition: all 0.5s;
						    -webkit-transition: all 0.5s;
						}

						&:hover:after {
						    opacity:1;
						}
					}

					.noticia-texto{
						width: 270px;
						float: right;
						color: #7e7e7e;
						padding: 14px;

						@include breakpoint(lg-bear) {
						    width: calc(100% - 137px);
						}

						.data{
						    font-size: 12px;
						    font-style: italic;
						}

						.titulo{
							color: #2e3289;
							font-size: 17px;
							font-weight: 700;
							line-height: 20px;

							&:hover{
								color: $color-default-blue;
							}
						}

						.resumo{
							font-size: 13px;
						}
					}
				}
			}
		}
		
	}
}

#superintendente{
	.container{
		// padding:30px 0px;		
		// width: 1327px;
		// height: 565px;
		// border-top: 1px solid #e5e5e5;

		.row{
			padding: 0 80px;

			.img-super{
				position: absolute;
				margin-top: 10px;
			}

			.topo{
				background-color: #1b1c48;
				height: 131px;

				.topo-texto{
					width: 300px;
					float: right;
					margin-right: 223px;
					margin-top: 25px;
					
					p{
						font-size: 20px;
						color: #5b9dd6;
						margin: 0px;
					}

					span{
						font-size: 40px;
						color: #fff;
					}
				}
			}

			.bottom{
				height: 339px;
				border-bottom: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;

				.bottom-text{
					width: 550px;
					float: right;
					padding: 20px 26px;
					
					ul > li{
						list-style-type: none;
						border-bottom: 1px solid #e5e5e5;
					}

					li:first-child{
						font-size: 30px;
						color: #5b9dd6;
						padding-bottom: 20px;
						font-weight: 700;
					}

					li:nth-child(2n){
						padding: 25px 0px;

						p{
							font-size: 14px;
							margin: 0px;
							color: #7e7e7e;
						}
					}

					li:last-child{
						padding: 20px 0px;
						border: none;
						
						.contato-wrapper{

							width: 275px;
							
							.contato{
								color: #5b9dd6;
								font-size: 25px;
								font-weight: 700;
								float: right;
								line-height: 48px;
							}

							i{
								color: #5b9dd6;
								font-size: 45px;
								margin-right: 20px;
							}							
						}
					}
				}
			}
		}
	} 
}

#atendimento{
	.container{
		
		// padding: 30px 0;
		// border-top: 1px solid #e5e5e5;

		.col-md-4{
			
			// padding: 0 1px;

			.atendimento-tel{
				background-color: #2DB497;
				display: table;
				width: 100%;
				padding: 108px 0;
				text-align: center;

				@include breakpoint(md-bear) {
				    width: 100%;
				}

                @include breakpoint(sm-bear) {
                    display: block;
                    padding: 58px 25px;
                }

				.atendimento-texto{

					@include breakpoint(lg-bear) {
					    padding-right: 10px;
					    margin-right: 0;
					}

                    @include breakpoint(sm-bear) {
                        width: 100%;
                        padding-right: 0;
                    }

					p{
						margin: 0px;
						color: #fff;
					}

					p:first-child{
						color: #fff;
						font-size: 20px;
						font-weight: 600;
						text-transform: uppercase;
					}

					p:nth-child(2n){
						font-size: 38px;
						line-height: 38px;
						font-weight: 700;
					}

					p:last-child{
						font-size: 37px;
						text-transform: uppercase;
					}
				}

				.atendimento-img{
					background-image: url('../../assets/images/home/associado.png');
					background-repeat: no-repeat;
					background-position: 50%;
					width: 100%;
					height: 65px;
					margin-bottom: 10px;

                    @include breakpoint(sm-bear) {
                        display: none;
                    }
				}
			}

			.atendimento-dicas{
				display: table;
				background-color: #AB8EFF;
				padding: 110px 0;
				width: 100%;
				text-align: center;

				@include breakpoint(md-bear) {
                    width: 100%;
				}

                @include breakpoint(sm-bear) {
                    display: block;
                    padding: 50px 20px;
                }

                .conteudo-wrapper{

                	width: 80%;
                	margin: 0 auto;

					.dicas-texto{

						@include breakpoint(lg-bear) {
						    margin-right: 0;
						    padding-right: 10px;
						}

	                    @include breakpoint(sm-bear) {
	                        width: 100%;
	                        padding-right: 0;
	                    }

						p{
							margin: 0px;
							color: #fff;
						}

						p:first-child{
							color: #fff;
							font-size: 18px;
							font-weight: 600;
							text-transform: uppercase;
						}

						p:nth-child(2n){
							font-size: 38px;
							line-height: 38px;
							font-weight: 700;
						}

						p:last-child{
							font-size: 37px;
							text-transform: uppercase;
						}
					}

					.dicas-img{
						background-image: url('../../assets/images/home/regionais.png');
						background-repeat: no-repeat;
						width: 100%;
						height: 65px;
						margin-bottom: 10px;
						background-position: 50%;

	                    @include breakpoint(sm-bear) {
	                        display: none;
	                    }
					}
                	
                }

			}

			.atendimento-newsletter{
				min-height: 358px;
				background-color: #F26522;
				padding: 68px 37px;
				width: 100%;
				text-align: center;

				@include breakpoint(md-bear) {
                    width: 100%;
				}

                @include breakpoint(sm-bear) {
                    display: block;
                    padding: 65px 5px;
                }

				.newsletter-img{
					background-image: url('../../assets/images/home/newsletter.png');
					background-repeat: no-repeat;
					width: 100%;
					height: 65px;
					margin-bottom: 10px;
					background-position: 50%;

					@include breakpoint(sm-bear) {
                        display: none;
                    }
				}

				.msg{
				    display: none;
				    color: #fff;
				    font-size: 12px;
				    padding-top: 10px;
				    font-weight: 600;
				    text-align: left;
				    height: 20px;
				}

				.newsletter-texto{
					p{
						margin: 0px;
						color: #fff;
					}

					p:first-child{
						color: #fff;
						font-size: 18px;
						font-weight: 600;
						text-transform: uppercase;
					}

					p:last-child{
						font-size: 36px;
						text-transform: uppercase;
						font-weight: 600;

						@include breakpoint(lg-bear) {
						    font-size: 28px;
						}
					}					
				}

				form{
					
					margin-top: 10px;

					label{
						width: 100%;
						text-align: left;
						color: #fff;
						font-size: 16px;
						margin-bottom: 0px;
					}
					
					input{
						border: 1px solid #fff;
						padding: 10px;
						float: left;
						width: calc(100% - 61px);
					}

					button{
						float: left;
						background-color: #7B2E00;
						border: 1px solid #7B2E00;
						padding: 10px 8px;
						color: #fff;
						font-weight: 600;

						&.loading-newsletter{
							background-image: url('../../assets/images/icons/load.gif');
							background-repeat: no-repeat;
							background-position: center;
							width: 64px;
							height: 39px;
							padding: 0px;
						}
					}
				}
			}
		}
	}
}