.to-top {
    transform: scale(0);
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    border-radius: 50%;
    background: $color-default-green;
    font-size: 22px;
    color: $color-white;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover {
        color: $color-white;
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    &.show {
        transform: scale(1);
    }
}